<!-- -*- xml -*- -->

<launch>
	<include file="$(find syropod_remote)/launch/syropod_remote.launch" />
	
	<rosparam file="$(find syropod_highlevel_controller)/config/default.yaml" command="load"/>
	<rosparam file="$(find syropod_highlevel_controller)/config/gait.yaml" command="load"/>
	<rosparam file="$(find syropod_highlevel_controller)/config/auto_pose.yaml" command="load"/>
	
	<node name="syropod_highlevel_controller" pkg="syropod_highlevel_controller" type="syropod_highlevel_controller_node" output="screen"/>
	
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find syropod_highlevel_controller)/rviz_cfg/SHC_display.rviz"/>
	
	<node name="rqt_reconfigure" pkg="rqt_reconfigure" type="rqt_reconfigure"/>	
	
	<param name="/syropod/parameters/debug_rviz" value="true"/>
</launch>
