<launch>

        <node name="hexapod_remote" pkg="hexapod_remote" type="hexapod_remote" output="screen">
                <param name="axis_linear_x" value="0"/>
                <param name="axis_linear_y" value="1"/>
                <param name="axis_linear_z" value="4"/>
                <param name="axis_angular_z" value="3"/>

                <param name="axis_linear_x_flip" value="false"/>
                <param name="axis_linear_y_flip" value="false"/>
                <param name="axis_linear_z_flip" value="false"/>
                <param name="axis_angular_z_flip" value="false"/>

                <param name="pub_rate" value="100"/>
        </node>

        <node pkg="joy" type="joy_node" name="joystick"/>

        <rosparam file="$(find simple_hexapod_controller)/launch/flexipod.yaml" command="load"/>
        <rosparam file="$(find simple_hexapod_controller)/launch/gait.yaml" command="load"/>
        <node name="Hexapod" pkg="simple_hexapod_controller" type="simple_hexapod_controller_node"/>
        <node name="rviz" pkg="rviz" type="rviz" output="screen" args="-d $(find simple_hexapod_controller)/rviz_cfg/hexapod.rviz"/>
</launch>

